.collection-nav .section-header__title {
  text-align: center;
}

.collection-nav h3 {
  margin-top: 0;
}

.collection-tags {
  text-align: right;
}

.collection-tags span, ul, li {
  display: inline-block;
}