// sets the max width for all items in the main. to be used on each section!
.max-wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.max-width {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.mdl-card {
  width: auto;
}

.collection-nav h3 {
  margin-top: 0;
}

.collection-nav .section-header__title, .description  {
  text-align: center;
}

.collection-nav .description h2 {
  font-family: 'Dancing Script', cursive;
}

.collection-tags {
  text-align: right;
}

.collection-tags .breadcrumb {
  margin-bottom: 0;
}

.collection-tags span, ul, li {
  display: inline-block;
}

.collection-tags li {
  border-right: solid 0.5px;
  padding-right: 5px;
}


.collection-tags li:last-child {
  border-right: none;
}

.collection-card {
  height: 46vh;
}

.collection-card .mdl-card--expand {
  padding: 0;
}

.collection-card img {
  position: absolute;
  display: block;
  width: 100vw;
  min-height: 40vh;
  object-fit: cover;
}

.collection-card .js-qty, .ajaxcart__qty {
  margin-bottom: 0;
  max-width: 100%;
}

.collection-card select {
  padding: 10px 10px;
  margin-bottom: 0;
}

.collection-card .mdl-card__supporting-text {
  width: 100%;
}

.collection-card__text-wrapper {
  position: absolute;
  background: white;
  max-height: 6vh;
  bottom: 0;
  transition: max-height 0.05s ease-out;
}

.collection-card:hover .collection-card__text-wrapper {
  max-height: 30vh;
  transition: max-height 0.15s ease-in;
}

.collection-card:focus .collection-card__text-wrapper {
  max-height: 30vh;
  transition: max-height 0.15s ease-in;
}