.collection-nav h3 {
  margin-top: 0;
}

.collection-nav .section-header__title, .description  {
  text-align: center;
}

.collection-tags {
  text-align: right;
}

.collection-tags .breadcrumb {
  margin-bottom: 0;
}

.collection-tags span, ul, li {
  display: inline-block;
}

.collection-tags li {
  border-right: solid 0.5px;
  padding-right: 5px;
}


.collection-tags li:last-child {
  border-right: none;
}