.navbar-logo {
  position: absolute;
  left: calc(50% - 70px);
  top: 12px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.mdl-badge[data-badge]:after {
  width: 16px !important;
  height: 16px !important;
}

.mdl-textfield {
  padding: 27px 0;
}

.mdl-textfield__input {
  border: 1px solid rgba(255, 0, 0, 0);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.mdl-textfield__expandable-holder {
  margin-left: 50px;
}

.mdl-button--icon {
  height: 50px;
  width: 50px;
}

.timber-search {
  order: 2;
  max-width: 200px;
}

.timber-search .input-group .input-group-field {
  width: 80%;
  display: inline-block;
}

.timber-search  button {
  width: 20%;
}

.android-drawer .mdl-layout-title {
  height: 110px;
}

.android-drawer img {
  height: 100%;
}