.pad-eight {
  padding:8px;
}

.mdl-layout__header {
  background-color: #c1051b;
}

.navbar-logo {
  position: relative;
  height: 100%;
  left: calc(50% - 70px);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.android-title {
  height: 100%;
}

.mdl-layout__drawer {
  border-right: none; 
}

.android-drawer .mdl-layout-title {
  background-color: #c1051b;
}

.navbar-logo img {
  height: 100%;
}

.mdl-badge[data-badge]:after {
  width: 16px !important;
  height: 16px !important;
}

.mdl-textfield {
  padding: 27px 0;
}

.mdl-textfield__input {
  border: 1px solid rgba(255, 0, 0, 0);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.mdl-textfield__expandable-holder {
  margin-left: 50px;
}

.mdl-button--icon {
  height: 50px;
  width: 50px;
}

.timber-search {
  order: 2;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  border-radius: 3px;
}

.android-drawer .mdl-layout-title {
  height: 110px;
}

.android-drawer img {
  height: 100%;
}

.android-drawer .mobile-nav__item a {
  padding: 16px 40px !important;
}

.animating{
    animation: animate 1s cubic-bezier(0,1,1,0);            
}

@keyframes animate{
    from {
       transform: scale(1);
    }
    to {
       transform: scale(1.7);
    }
}
