$small: 480px;
$medium: 768px;
$large: 769px;


.grid__title {
	margin-left: 30px;
	text-align: center;
}

.max-width {
	width: 100%;
}

.no-margin {
	margin: 0;
}

.item-collection {
	margin-top: 15px;
}

.quick-order-item {
	line-height: 1;
	font-size: 12px;
}

.quick-order-item-title {
	margin-bottom: 0.1em;
}

.site-header__search {
	margin-top: 10px;
	float: right;
}

.cart-card {
	width: 190px;
    display: inline-block;
    background: white;
    padding-right: 10px;
    border-radius: 3px;
    border: 1px solid rgb(116, 116, 116);
}

.cart-card-fixed {
	position: fixed;
	max-width: 590px;
	z-index: 5;
    padding-right: 30px;
}

.amount input {
	line-height: 1.3;
    margin-top: -1px;
    @media screen and (min-width: $medium) {
  		line-height: 1.5;
    }
}

.mobile-max-width, .amount>.js-qty {
  @media screen and (max-width: $small) {
  	width: 100%;
  	max-width: 100%;
  }
}

.amount>.js-qty>button {
  @media screen and (max-width: $small) {
  	width: 35%;
  }
}
