<!-- /templates/swift-order.liquid -->
{% comment %}

  Order page for quick ordering all items in all collections

{% endcomment %}

{% include 'breadcrumb' %}

{% for collection in collections %}
   <h1>{{collection.id}}</h1>
{% endfor %}
